body {
  text-align: center;
  margin: auto;
  background-color: rgb(223, 231, 237);
}

header {
  background-color: #0f1111;
  height: 60px;
  text-align: left;
}

#logo {
  margin: 10px auto;
  height: 5vh;
}
#downLogo {
  background-color: #232f3e;
  height: 30px;
  text-align: left;
}
#BannerArancione {
  width: 70vwpx;
  height: 30px;
  padding: 20px;
  margin: 30px;

  background-color: rgb(251, 107, 4);
}
#BannerVerde {
  margin: auto;
  width: 2000px;
}
#cards {
  width: 2000px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
}
footer {
  background-color: #0f1111;
  height: 60px;
  text-align: left;
  margin: ;
}
